extends layout

block content
		h1= title
		#contacts
				- each contact in contacts
					div.contact
						div.created_at= contacts.created_at
						div.title= contacts.title 
						div.name= contacts.name
								form( method="post", action="/contact/:id/delete") 
										input(name="_id", type="hidden", value=contact._id.toHexString()) 
										input(id="delete", value="X", type="submit")
								form( method="get", action="/contact/:id/edit") 
										input(name="_id", type="hidden", value=contact._id.toHexString()) 
										input(id="edit", value="Edit", type="submit")
				a(href="/contact/new")!= "Add New Contact"